@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
@import 'react-modern-drawer/dist/index.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
::-webkit-scrollbar {
    display: none;
}
@layer base {
  body {
    font-family: "Poppins";
    box-sizing: border-box;
    
    @apply bg-gradient-to-r from-gray-900 to-gray-950;
  }
  input {
    font-family: "Poppins";
  }
}
@layer components {
  .wrapper {
    @apply py-3 px-4 mx-auto md:px-14 max-w-7xl;
  }
  .flexCenter {
    @apply flex items-center justify-center;
  }
  .flexBetween {
    @apply flex items-center justify-between;
  }
  .btn{
    @apply px-6 py-3 transition-all duration-500 rounded-md bg-blue-700 hover:bg-blue-600 text-white  uppercase
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Typing indicator */


.typingIndicatorContainer {
  display: flex;
  flex: none;
  align-items: flex-end;
  margin: 2px
}

.typingIndicatorBubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 20px;
  margin: 0px 8px;
  background-color: #f0f1f1;
  border-radius: 10px;
}

.typingIndicatorBubbleDot {
  width: 4px;
  height: 4px;
  margin-right: 4px;
  background-color: #57585a;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 1.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.typingIndicatorBubbleDot:first-of-type {
  margin: 0px 4px;
}

.typingIndicatorBubbleDot:nth-of-type(2) {
  animation-delay: 0.15s;
}

.typingIndicatorBubbleDot:nth-of-type(3) {
  animation-delay: 0.3s;
}

@keyframes bounce {
  0%,
  60%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-4px);
  }
}
